@page
@model ApogeeDev.WebhookTester.Pages.User.IndexModel

<h3>Webhook Sessions</h3>

@if (Model.ShowUserSessions)
{
    foreach (var item in Model.UserSessions)
    {
        <div class="shadow-sm bg-body roundedshadow p-3 mb-3 bg-body rounded">
            <p><a href="@Url.Content(item.SessionLink)">@item.WebhookSessionId</a></p>
            <p class=text-muted>Callback url: @Url.Content(item.CallbackUrl), </p>
            <p class=text-muted>Started on: <span
            class="d-none need-dt-fix">@item.StartDate.ToString("yyyy-MM-ddTHH:mm:ssZ")</span></p>
        </div>
    }
}
else
{
    <div class="border-top border-start shadow p-3 mb-5 bg-light rounded d-50 mx-auto">
        No sessions bookmarked yet.
    </div>
}