html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

#callback-list li:hover {
  cursor: pointer;
}
.copy-fadeout {
  animation: 2s linear 0s 1 normal forwards running fadeOut;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#avatar-btn {
  padding: 0;
  border: 0;
}
#avatar-btn::after {
  content: none;
}
