@model List<ApogeeDev.WebhookTester.Common.ViewModels.CallbackRequestListItem>

<ul class="list-group list-group-flush" id="callback-list">
    @for (var i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        @*client side js sets first element as 'active'*@
        <li class="list-group-item list-group-item-action" hx-get hx-page="/Session/Index" hx-page-handler="Callback"
        hx-route-callbackId="@item.Id" hx-target="#callback-detail">
            <span class="badge text-bg-primary">@item.RequestMethod</span>
            #@displayId(item.Id)<br>
            @item.ReceivedDate
        </li>
    }
</ul>

@functions {
    public string displayId(Guid id)
    {
        return id.ToString().Split("-").Last();
    }
}