@model ApogeeDev.WebhookTester.Common.ViewModels.WebhookSessionView;

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Session details</h5>
        <p class="card-text">
            <span class="fw-semibold">Session Id:</span> @Model.WebhookSessionId <button type="button"
                class="btn btn-outline text-primary" data-urlpart="session/@Model.WebhookSessionId"><i
                    class="bi bi-clipboard"></i> Copy link to session</button>
        </p>

        <p class="card-text">
            <span class="fw-semibold">Callback URL:</span> @Model.CallbackUrl <button type="button"
                class="btn btn-outline text-primary" data-urlpart="@Model.CallbackUrl"><i class="bi bi-clipboard"></i>
                Copy url</button>
        </p>
    </div>
</div>