@page "{id?}"
@model Session.IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["mainBodyClass"] = "container-fluid";

    var i = 0;
}

@if (Model.NewSession is null)
{
    <div class="border-top border-start shadow p-3 mb-5 bg-light rounded d-50 mx-auto">
        <strong>No webhook session found!!</strong>
    </div>
}
else
{
    <div class="row">
        <div class="col-12">
            <partial name="_Templates/_SessionDetail" model="Model.NewSession" />
        </div>
    </div>
    <div class="row">
        @if (Model.NewSession.CallRequests.Count == 0)
        {
            <div class="border-top border-start shadow p-3 mb-5 bg-light rounded w-50 mx-auto">
                <i>No callbacks received.</i>
            </div>
        }
        else
        {
            <div class="col-md-4 col-lg-3 col-xl-2">
                <partial name="_Templates/_CallbackRequestList" model="Model.NewSession.CallRequests" />
            </div>
            <div class="col-md-8 col-lg-9 col-xl-10" id="callback-detail">
                @if (Model.NewSession.MostRecentCallback is not null)
                {
                    <partial name="_Templates/_CallbackRequestDetail" model="Model.NewSession.MostRecentCallback" />
                }
            </div>
        }
    </div>
}